/* 전체 초기화  */
* {
    margin: 0;                /* 바깥 여백 */
    padding: 0;               /* 내부 여백 */
    font: normal 25px '돋움체';   /* 폰트 설정  */

    font-family: 'Noto Sans KR', sans-serif;}

ul, ol {list-style : none;}    /* unorderlist , orderlist list-style (속성) 정의 / 기타 알파벳이나 로마문자 , 숫자 등등을 정의해 줄 수 있음 */
a {text-decoration: none; color:rgb(145, 144, 144);}  /* text-decoration CSS 단축 속성은 글씨의 장식(선) 색을 지정  none 대신 green wavy underline underline overline #FF3028 등을 넣을 수 있음  */

#wrapper {        /* #( id선택자   , .은 클래스선택자임 )  wrapper  */   
    position: relative;
    width: 100%;  /*  넓이 100% */
    background-image: url(../img/korea-g6bfd67397_1920.jpg);
    background-attachment: fixed;
    height: 100%;
    background-size: 100vw;
    z-index: 0;
    
}

/* header 속성정의 */
header {
    width: 100%;
    height: 197px;      /* 위에서 197px 의 거리 */
 
    background-size: cover;
    z-index: 0;
}

header > div {    
    width: 100%;            
    box-sizing: border-box;  /* box-sizing은 박스의 크기를 어떤 것을 기준으로 계산할지를 정하는 속성 // border-box 는  테두리를 기준으로 크기를 정함*/
    height: 100vw;
    background-size: cover;
  }


header > .top {     /* header 의 .(클래스 선택자) top */
  
    height: 100px;
    border-bottom: 1px solid #e9e9e9;  /*요소 테두리의 아래쪽 스타일을 지정 1px , solid(실선) , 선색  */
  
}

header > .top > div {
    width: 1000px;
    height: 100%;
    margin: 0 auto;     /* margin 바깥여백 0  , auto는 가로 중앙에 배치한다는 의미 */        
    text-align:center;  /* text-align 속성은 텍스트의 정렬 방향을 의미 */
    
}

header > .top > div > a {     /* <a> 태그는 하이퍼링크를 걸어주는 태그 */
  border : 4px solid rgb(38, 27, 100); 
  outline : 4px solid #f3f3f3; 
    display: inline-block; /* display 속성은 웹페이지 상에서 엘리먼트들이 어떻게 보여지고 다른 엘리먼트와 어떻게 상호 배치되는지를 결정*/
    /* 속성이 inline으로 지정된 엘리먼트는 전후 줄바꿈 없이 한 줄에 다른 엘리먼트들과 나란히 배치 */
    /* 속성이 block으로 지정된 엘리먼트는 전후 줄바꿈이 들어가 다른 엘리먼트들을 다른 줄로 밀어내고 혼자 한 줄을 차지 */    
    /* 속성이 inline-block으로 지정된 엘리먼트는 기본적으로 inline 엘리먼트처럼 전후 줄바꿈 없이 한 줄에 다른 엘리먼트들과 나란히 배치 */
    height: 100%;
    line-height: 100px;  /* line-height는 줄 높이를 정하는 속성 */
    width: 230px;
    border-left: 5px solid #232d58; /* border-left 는 요소의 왼쪽 테두리를 설정 */
    border-right: 5px solid #232d58;       /* 내부 여백 */
    color: rgb(145, 144, 144);
    background-color:  #e4fafa;
    border-radius: 10px 10px 10px 10px;
}
header > .top > div > a:nth-child(1).button {
  width: 200px; 
	height: 123px;  
	position: fixed;  
	left:calc(50% - 100px); 
	top:-123px;
		transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;

}

header > .top > div > a:hover { /* a:link 방문하기전의 링크 / a:visited  방문한 링크 / a:hover : 링크에 마우스 포인터를 올려 놓았을 때 / a:active : 링크를 마우스로 클릭한 순간 */
    color: rgb(80, 80, 80); 
}


/* main 속성 정의 */
main {           
  
    width: 1200px;
    height: auto;
    margin: 0 auto;            
    overflow: hidden;
/* overflow 에 사용할 수 있는 값
- visible : 기본 값입니다. 넘칠 경우 컨텐츠가 상자 밖으로 보임
- hidden : 넘치는 부분은 잘려서 보여지지 않음
- scroll : 스크롤바가 추가되어 스크롤할 수 있음 (가로, 세로 모두 추가)
- auto : 컨텐츠 량에 따라 스크롤바를 추가할지 자동으로 결정( 필요에 따라 가로, 세로 별도로 추가될 수도 있음)
*/

}

/* main - aside 속성정의 */
main > aside {    /* main > aside 선택  (카테고리리스트) */
    position: static;
    left : 0px ;
    float: left ; /* 왼쪽에 띄움*/
    width: 0px; 
    height: 100%;
}


/* 카테고리 리스트 */
main > aside > .catelist {
  border : 4px solid rgb(38, 27, 100); 
  outline : 4px solid #f3f3f3; 
    position: fixed;
    top: 230px;
    margin-left : -300px;
    padding-top: 40px;
    font-size: 10px;
    width: 240px;
    height: auto;
    box-sizing: border-box;
    z-index: 2;
    background-color: #e4fafa;
    border-radius: 10px 10px 10px 10px ;
}

main > aside > .catelist >a {
    font-size: 20px;
    margin-left: 20px;
}

main > aside > .catelist >a:nth-child(1) {
  font-size: 20px;
  margin-left: 20px;
}
main > aside > .catelist >a:hover {
  color: rgb(80, 80, 80); 
  border-bottom: 1px solid #444;
}

main > section {
 
    margin : 0 auto;
    float: none;
    width: 985px;
    height: auto;
    box-sizing: border-box;
    color :black;
}

main > section >  span {
  
  border : 1px solid rgb(38, 27, 100); 
  outline : 4px solid #f3f3f3;
  float: left;
  font-size: 30px;
   background-color: #e4fafa;
   border-radius: 10px 10px 10px 10px;
   padding: 10px;
   margin: 20px;
  font-weight: 700;
    
}
main > section> .Photo{
  background-color: transparent;
  border : 0px ; 
  outline : 0px;
}
main > section > .Photo>div >img {
  border-radius: 10px 10px 10px 10px;
    width: 200px;
    height: 230px;
    object-fit: cover;
    float: left;
    margin: 10px;
    border : 5px solid #f3f3f3 ;
}


main > section > section {
  
  border : 4px solid rgb(38, 27, 100); 
  outline : 4px solid #f3f3f3; 
  padding: 20px;
  width: 1000px;

  border-radius: 10px 10px 10px 10px; 
  background-color: #f3f3f3;
  margin: 0px;
  float:left;
}



main > section > section > article {
    float: left;
    width: 100%;
    height: 345px;
}


main > section > section>ul {
  position:relative;
  float:left;
  width: 100%;
  height: auto;
  margin: 0px;
}
main > section > section>img {

  float:left;

}

main> section>section>ul{
font-size: 25px;
list-style-type: disc;
margin: 20px;

}
main> section>section>ul>li{

  position: relative;
  left: -100px;
  margin-right: 10px;
  float:right;
  width: 600px;
}


section>section>img:hover{ /* img 마우스 오버시*/
  cursor:pointer;
  transform:scale(1.3); /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */
  -o-transform:scale(1.3); 
  -moz-transform:scale(1.3);
  -webkit-transform:scale(1.3);
  transition: transform .35s;  
  -o-transition: transform .35s;
  -moz-transition: transform .35s;
  -webkit-transition: transform .35s;
}

footer {
  width: 100%;
  height: 192px;

  border-top: 1px solid #e9e9e9;
  z-index: 3;
}
footer > ul {
  width: 1200px;
  height: 39px;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
  text-align: center;
}
footer > ul > li {
  display: inline-block;
  font-weight: bold;
  border-right: 1px solid #d7d7d7;
  padding: 0 10px;
}
footer > ul > li:first-child {border-left: 1px solid #d7d7d7;}

footer > div {
  width: 1200px;
  height: 100%;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

footer p {
  float: left;
  height: 100%;
  font-size: 11px;
  line-height: 15px;
  color: #676767;            
}
footer p:nth-of-type(2) {
  width: 300px;
  margin-left: 30px;
  margin-right: 30px;
}

footer p > strong {
  display: inline-block;
  padding: 6px 15px 7px 0;
  color: #464646;
}
