/* 전체 초기화  */
* {
  margin: 0;                /* 바깥 여백 */
  padding: 0;               /* 내부 여백 */
  font: normal 25px '돋움체';   /* 폰트 설정  */

  font-family: 'Noto Sans KR', sans-serif;}


.outer-scratch, .inner-scratch {
  height: inherit;
  overflow:hidden;
}
.outer-scratch:after, .inner-scratch:after {
  content: '';
  width: 120%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding-left: 100px;
  opacity: .08;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/scratch.png') repeat center center;
  -webkit-animation: scratch 0.45s steps(1) infinite;
  animation: scratch 0.45s steps(1) infinite;
  overflow:hidden;
}

.inner-scratch:after {
  left: 30%;
  -webkit-animation: inner-scratch 2s infinite;
  animation: inner-scratch 2s infinite;
  overflow:hidden;
}

.grain:after {
  content: '';
  width: 110%;
  height: 110%;
  position: fixed;
  top: -5%;
  left: -5%;
  opacity: .11;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
  -webkit-animation: grain 0.5s steps(1) infinite;
  animation: grain 0.5s steps(1) infinite;
  overflow:auto;
  z-index: -1;
}

/* Film Animations */

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0, 0);
  }
  10% {
    transform: translate(-1%, -1%);
  }
  20% {
    transform: translate(1%, 1%);
  }
  30% {
    transform: translate(-2%, -2%);
  }
  40% {
    transform: translate(3%, 3%);
  }
  50% {
    transform: translate(-3%, -3%);
  }
  60% {
    transform: translate(4%, 4%);
  }
  70% {
    transform: translate(-4%, -4%);
  }
  80% {
    transform: translate(2%, 2%);
  }
  90% {
    transform: translate(-3%, -3%);
  }
}
@keyframes scratch {
  0%, 100% {
    transform: translateX(0);
    opacity: 0.075;
  }

  10% {
    transform: translateX(-1%);
  }

  20% {
    transform: translateX(1%);
  }

  30% {
    transform: translateX(-2%);
        opacity: 0.09;
  }

  40% {
    transform: translateX(3%);
  }

  50% {
    transform: translateX(-3%);
    opacity: 0.05;
  }

  60% {
    transform: translateX(8%);
  }

  70% {
    transform: translateX(-3%);
  }

  80% {
    transform: translateX(10%);
    opacity: 0.02;
  }

  90% {
    transform: translateX(-2%);
  }
}


@keyframes inner-scratch {
  0% {
    transform: translateX(0);
    opacity: 0.08;
  }
  10% {
    transform: translateX(-1%);
  }
  20% {
    transform: translateX(1%);
  }
  30% {
    transform: translateX(-2%);
  }
  40% {
    transform: translateX(3%);
  }

  50% {
    transform: translateX(-3%);
    opacity: 0.06;
  }

  60% {
    transform: translateX(8%);
  }

  70% {
    transform: translateX(-3%);
  }

  80% {
    transform: translateX(10%);
    opacity: 0.03;
  }

  90% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(30%);
  }
}


/* Simple Title Animation */
@keyframes draw {
  0% {
    width: 0%;
  }

  100% {
    width: 110%;
  }
}
@keyframes draw-bottom {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

ul, ol {list-style : none;}    /* unorderlist , orderlist list-style (속성) 정의 / 기타 알파벳이나 로마문자 , 숫자 등등을 정의해 줄 수 있음 */
a {text-decoration: none; color: rgb(145, 144, 144) ;}  /* text-decoration CSS 단축 속성은 글씨의 장식(선) 색을 지정  none 대신 green wavy underline underline overline #FF3028 등을 넣을 수 있음  */

#wrapper {        /* #( id선택자   , .은 클래스선택자임 )  wrapper  */   
    position: relative;
    width: 100%;  /*  넓이 100% */
    background-image: url(../img/bridge-gf9761d24d_1920.jpg); 
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    z-index: 0;
}
/* header 속성정의 */
header {
    width: 100%;
    height: 197px;      /* 위에서 197px 의 거리 */
 
    background-size: cover;
    z-index: 0;
}
header > div {    
    width: 100%;            
    box-sizing: border-box;  /* box-sizing은 박스의 크기를 어떤 것을 기준으로 계산할지를 정하는 속성 // border-box 는  테두리를 기준으로 크기를 정함*/
    height: 100vw;
    background-size: cover;
  }
header > .top {     /* header 의 .(클래스 선택자) top */
  
    height: 100px;
    border-bottom: 1px solid #e9e9e9;  /*요소 테두리의 아래쪽 스타일을 지정 1px , solid(실선) , 선색  */
    padding-bottom : 10px;
  }

header > .top > div {
  width: 1000px;
  height: 100%;
  margin: 0 auto;     /* margin 바깥여백 0  , auto는 가로 중앙에 배치한다는 의미 */        
  text-align:center;  /* text-align 속성은 텍스트의 정렬 방향을 의미 */
   
}

header > .top > div > a {     /* <a> 태그는 하이퍼링크를 걸어주는 태그 */
  display: inline-block; /* display 속성은 웹페이지 상에서 엘리먼트들이 어떻게 보여지고 다른 엘리먼트와 어떻게 상호 배치되는지를 결정*/
  /* 속성이 inline으로 지정된 엘리먼트는 전후 줄바꿈 없이 한 줄에 다른 엘리먼트들과 나란히 배치 */
  /* 속성이 block으로 지정된 엘리먼트는 전후 줄바꿈이 들어가 다른 엘리먼트들을 다른 줄로 밀어내고 혼자 한 줄을 차지 */    
  /* 속성이 inline-block으로 지정된 엘리먼트는 기본적으로 inline 엘리먼트처럼 전후 줄바꿈 없이 한 줄에 다른 엘리먼트들과 나란히 배치 */
  height: 100%;
  line-height: 100px;  /* line-height는 줄 높이를 정하는 속성 */
  width: 230px;
  border-left: 5px solid #232d58; /* border-left 는 요소의 왼쪽 테두리를 설정 */
  border-right: 5px solid #232d58;       /* 내부 여백 */
  color: rgb(145, 144, 144);
  background-color:  #e4fafa;
  border-radius: 10px 10px 10px 10px;
  border : 4px solid rgb(38, 27, 100); 
  outline : 4px solid #f3f3f3; 
}
header > .top > div > a:nth-child(1).button {
  width: 200px; 
	height: 123px;  
	position: fixed;  
	left:calc(50% - 100px); 
	top:-123px;
		transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;

}

header > .top > div > a:hover { /* a:link 방문하기전의 링크 / a:visited  방문한 링크 / a:hover : 링크에 마우스 포인터를 올려 놓았을 때 / a:active : 링크를 마우스로 클릭한 순간 */
  color: rgb(80, 80, 80); 
}


/* main 속성 정의 */
main {           
    width: 1200px;
    height: auto;
    margin: 0 auto;            
    overflow: hidden;
/* overflow 에 사용할 수 있는 값
- visible : 기본 값입니다. 넘칠 경우 컨텐츠가 상자 밖으로 보임
- hidden : 넘치는 부분은 잘려서 보여지지 않음
- scroll : 스크롤바가 추가되어 스크롤할 수 있음 (가로, 세로 모두 추가)
- auto : 컨텐츠 량에 따라 스크롤바를 추가할지 자동으로 결정( 필요에 따라 가로, 세로 별도로 추가될 수도 있음)
*/

}

/* main - aside 속성정의 */
main > aside {    /* main > aside 선택  (카테고리 메뉴 + 베스트메뉴) */
    position: static;
    left : 0px ;
    float: left ; /* 왼쪽에 띄움*/
    width: 0px; 
    height: 100%;
}

main > aside > .catelist  {
  border : 4px solid rgb(38, 27, 100); 
  outline : 4px solid #f3f3f3; 
    position: fixed;
    top: 230px;
    margin-left : -300px;
    padding-top: 40px;
    font-size: 10px;
    width: 240px;
    height: auto;
    box-sizing: border-box;
    z-index: 2;
    background-color: #e4fafa;
    border-radius: 10px 10px 10px 10px ;
}

main > aside > .catelist >a {
  font-size: 20px;
  margin-left: 20px;
}



main > aside > .catelist > ol {
    width: 100%;
}
main > aside > .catelist > ol > li {
    width: 100%;
    height: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    margin-bottom: 16px;
}


main > aside > .catelist >a {
    font-size: 20px;
}

main > aside > .catelist >a:nth-child(1) {
  font-size: 20px;
  margin-left: 20px;
}
main > aside > .catelist >a:hover {
  color: rgb(80, 80, 80); 
  border-bottom: 1px solid #444;
}


/* main > section 속성 */
main > section {
  margin : 0 auto;
  float: none;
  width: 985px;
  height: auto;
  box-sizing: border-box;
  color :black;
}

main > section >span {
  
  border : 1px solid rgb(38, 27, 100); 
  outline : 4px solid #f3f3f3;
  float: left;
  font-size: 30px;
   background-color: #e4fafa;
   border-radius: 10px 10px 10px 10px;
   padding: 10px;
   margin: 20px;
  font-weight: 700;
    margin-top    : 20px;
}

main > section > section {
  border : 4px solid rgb(38, 27, 100); 
  outline : 4px solid #f3f3f3; 
  padding: 20px;
  width: 1000px;
  margin: 10px;
  border-radius: 10px 10px 10px 10px; 
  background-color: #f3f3f3;
  float:left;
}

main > section > section > a {
color : black;
}
main > section > section > article {
    float: left;
    width: 25%;
    height: 345px;
}
main > section > section > h3 > span{
    display: inline-block;            
    margin: 10px;            
    border-bottom: 2px solid #111;
    font-weight: bold;
    font-size: 16px;
}
main > section > section > article > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;            
}

main > section > section>ul {
  position:relative;
  float:left;
  width: 100%;
  height: auto;
  margin: 0px;
}
/* slider 속성 */
main > section > .slider {
    width: 100%;
    height: 6000px;
    overflow: hidden;
}
main > section > .slider > .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;
}



main > #admin-index > article > table>tbody > tr > td > img {

  background-color: #41ab47;
height: 100%;
width: 100%;
}

footer {
    width: 100%;
    height: 192px;
    border-top: 1px solid #e9e9e9;

}


#top {
    position: fixed;
    left: 50%;
    bottom: 10px;
    margin-left: 600px;
    /* display: none; */
    width: 42px;
    height: 42px;
    border: none;
    font-size: 0;
    cursor: pointer;
}
